<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Choices:</strong>
    <ul>
      <% question.choices.each do |choice| %>
        <%= button_to choice.name, question_choice_answers_path(question, choice)%> - <p><%= choice.votes %></p>
        <br>
      <% end %>
    </ul>

  <p>
    <strong>Date published:</strong>
    <%= question.date_published %>
  </p>

</div>
