<%= form_with(model: choice) do |form| %>
  <% if choice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(choice.errors.count, "error") %> prohibited this choice from being saved:</h2>

      <ul>
        <% choice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :question_id, style: "display: block" %>
    <%= form.text_field :question_id %>
  </div>

  <div>
    <%= form.label :votes, style: "display: block" %>
    <%= form.number_field :votes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
